#top-nav .nav {
    background-color: var(--brand);
    padding: 15px;
}
#top-nav .nav .nav-item .nav-link {
    color: var(--w);
}

#top-nav .nav .nav-item .nav-link:hover {
    background-color: var(--w);
    border-radius: 4px;
    border: none;
    box-shadow:;
    color: var(--brand);
}
.spinner-grow {
    margin: 5px;
}

/* -------------------------------header---------------------- */
header {
    background-color: var(--w);
}
#header .left .nav-item img {
    height: 110px;
    margin: 5px;
}
#header .right li {
    margin-top: 25px;
}
#header .right li a {
    background-color: var(--brand);
    color: var(--w);
    margin: 5px;
}

/* ---------------------------------------------top section------------------------------------ */
#top-section {
    margin: 80px 0px;
    
}
#top-section .container {
    background-color: var(--w);
    box-sizing: border-box;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.3);
}
#top-section .row .col-md-6:nth-child(1) img {
    width: 80%;
}
#top-section .row .col-md-6 p {
    text-align: justify;
}
@media screen and (max-width: 767px) {
    #top-section .row .col-md-6:last-child {
        margin-top: 50px;
    }
}
/* -------------------------------------------------------------------iframe section------------------------------------------------------------------ */
#video .container {
    background-color: var(--w);
    box-sizing: border-box;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.3);   
}
#video .container .top video {
    width: 90%;
    border-radius: 8px;
}
#video .container .bottom h6 {
    text-align: justify;
    margin-top: 25px;
}